{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}


{% block app_styles %}

    <link href="{% static "PGG5/styles.css" %}" rel="stylesheet">

    <style>
        .otree-btn-next {
            margin: 0px;
        }

        .form-control {
            border-color: white;
        }

        .form-control:focus {
            border-color: #3500D3;
        }

        .questions {
            border: 1px solid #3500D3;
            width: 40vw;
            padding: 1px;
        }

        .input-area textarea {
            border: 10px solid #3500D3;
        }

        .input-radio label {
            margin-right: 5px;
        }

        .input-radio label:nth-child(8) {
            margin-left: 40px;
        }
    </style>

{% endblock %}


{% block content %}

    <nav class="navbar fixed-top navbar-dark" style="background-color: #3500D3">
        <a class="navbar-brand" href="#"><img src="{% static "PGG5/pgg_logo.png" %}" height="30px"
                                              style="padding-right: 10px">Questionnaire</a>
        <ul class="nav navbar-nav navbar-right" style="flex-direction: row">
            <li>
                <button class="btn btn-primary otree-btn-next btn-outline-light" type="submit">Next</button>
            </li>
        </ul>
    </nav>

    <p>4. Did you reward the others?</p>
<div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_8a %}</div>
    <p>If yes, how did this reward affect worker contributions? Please briefly explain in your own words.</p>
    <div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_8 %}</div>


    <p>5.Did you punish others?</p>
 <div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_9a %}</div>
 <p>If yes, how did this punishment affect worker contributions? Please briefly explain in your own words. </p>
    <div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_9 %}</div>

    <p>6.Did you neither reward nor punish others?  </p>
<div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_10a %}</div>
<p> If yes, how did this decision affect worker contributions? Please briefly explain in your own words. <p>
    <div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_10 %}</div>




    <p>7. Did you reward yourself?</p>
 <div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_11a %}</div>
 <p>If yes, why did you do it? Please briefly explain in your own words. </p>
    <div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_11 %}</div>

 <p>8. Did you punish yourself?</p>
 <div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_12a %}</div>
 <p>If yes, why did you do it? Please briefly explain in your own words. </p>
    <div class="form-control input-area" style="margin-bottom: 100px">{% formfield player.question_12 %}</div>

<p>7. How did you try to maximize your payout in the rounds? Please explain your strategy: </p>
    <div class="form-control input-area" style="margin-bottom: 50px">{% formfield player.question_13 %}</div>





{% endblock %}
